// =============================================================================
// CATEGORY (CSS)
// =============================================================================


// Category header
// -----------------------------------------------------------------------------

.category-header-image {
    width: 100%;
}
.color-swatch {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
}
